<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>QLDA</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <!-- Fonts and icons -->
  <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["/assets/css/fonts.min.css"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>

  <!-- CSS Files -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/plugins.min.css" />
  <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />
  <link rel="stylesheet" href="/css/app.css">

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="/assets/css/demo.css" />
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="/" class="logo">
            <img src="/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item active">
              <a data-bs-toggle="collapse" href="/admin/users/show" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Tổng quan</p>
              </a>

            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
              <h4 class="text-section">Các thành phần</h4>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#sidebarLayouts">
                <i class="fas fa-th-list"></i>
                <p>Quản lý trang Admin</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="sidebarLayouts">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="/admin/users/show">
                      <span class="sub-item">Danh sách tài khoản</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/institutes/show">
                      <span class="sub-item">Danh sách Viện & Khoa</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/faculties/show">
                      <span class="sub-item">Danh sách Khoa</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/majors/show">
                      <span class="sub-item">Danh sách chuyên ngành</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/classes/show">
                      <span class="sub-item">Danh sách lớp biên chế</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- Danh sách khoa & Viện -->
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#base">
                <i class="fas fa-layer-group"></i>
                <p>Quản lý Khoa & Viện</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="base">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="/institutes/show">
                      <span class="sub-item">Danh sách các Viện & Khoa</span>
                    </a>
                  </li>
                  <li>
                    <a href="/majors/show">
                      <span class="sub-item">Danh sách chuyên ngành</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>


            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#forms">
                <i class="fas fas fa-user-graduate"></i>
                <p>Quản lý sinh viên</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="forms">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="/majors/showClass">
                      <span class="sub-item">Danh sách lớp biên chế</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#tables">
                <i class="fas fa-book"></i>
                <p>Quản lý đề tài</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="tables">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="tables/tables.html">
                      <span class="sub-item">Basic Table</span>
                    </a>
                  </li>
                  <li>
                    <a href="tables/datatables.html">
                      <span class="sub-item">Datatables</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#maps">
                <i class="fas fa-tasks"></i>
                <p>Phân đề tài đồ án</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="maps">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="maps/googlemaps.html">
                      <span class="sub-item">Google Maps</span>
                    </a>
                  </li>
                  <li>
                    <a href="maps/jsvectormap.html">
                      <span class="sub-item">Jsvectormap</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#charts">
                <i class="far fa-chart-bar"></i>
                <p>Đánh giá đồ án</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="charts">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="charts/charts.html">
                      <span class="sub-item">Chart Js</span>
                    </a>
                  </li>
                  <li>
                    <a href="charts/sparkline.html">
                      <span class="sub-item">Sparkline</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="widgets.html">
                <i class="fas fa-desktop"></i>
                <p>Báo cáo & Thống kê</p>
                <span class="badge badge-success">4</span>
              </a>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#profile">
                <i class="fas fa-user"></i>
                <p>Hồ sơ cá nhân</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="profile">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="/auth/login">
                      <i class="icon-login"></i>
                      <p>Đăng nhập</p>
                    </a>
                  </li>
                  <li>
                    <a href="/auth/register">
                      <i class="icon-direction"></i>
                      <p>Đăng ký</p>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div class="main-panel">
      {{> header }}

      {{{body}}}

      {{> footer }}
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>

  <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/js/plugin/chart.js/chart.min.js"></script>
  <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
  <script src="/assets/js/plugin/chart-circle/circles.min.js"></script>
  <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
  <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
  <script src="/assets/js/plugin/jsvectormap/world.js"></script>
  <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
  <script src="/assets/js/kaiadmin.min.js"></script>
  <script src="/assets/js/setting-demo.js"></script>
  <script src="/assets/js/demo.js"></script>
  <script>
    $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#177dff",
      fillColor: "rgba(23, 125, 255, 0.14)",
    });

    $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#f3545d",
      fillColor: "rgba(243, 84, 93, .14)",
    });

    $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#ffa534",
      fillColor: "rgba(255, 165, 52, .14)",
    });
  </script>
</body>

</html>